In [3]:
# 1. import csv  library
import csv
import pandas as pd

In [5]:
# RW
# . How to open a file and read into pandas dataframe

with open("C:/Users/Ahmed/Documents/A_DrNoman/Bid_postal/TAXRATES_ZIP5/TAXRATES_ZIP5_ID201903.csv","r") as f_obj1:
    data1=pd.read_csv(f_obj1)

In [8]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318 entries, 0 to 317
Data columns (total 9 columns):
State                    318 non-null object
ZipCode                  318 non-null int64
TaxRegionName            318 non-null object
StateRate                318 non-null float64
EstimatedCombinedRate    318 non-null float64
EstimatedCountyRate      318 non-null float64
EstimatedCityRate        318 non-null float64
EstimatedSpecialRate     318 non-null float64
RiskLevel                318 non-null int64
dtypes: float64(5), int64(2), object(2)
memory usage: 22.4+ KB

In [10]:
with open("C:/Users/Ahmed/Documents/A_DrNoman/Bid_postal/TAXRATES_ZIP5/TAXRATES_ZIP5_AL201903.csv","r") as f_obj2:
    data2=pd.read_csv(f_obj2)

In [11]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809 entries, 0 to 808
Data columns (total 9 columns):
State                    809 non-null object
ZipCode                  809 non-null int64
TaxRegionName            809 non-null object
StateRate                809 non-null float64
EstimatedCombinedRate    809 non-null float64
EstimatedCountyRate      809 non-null float64
EstimatedCityRate        809 non-null float64
EstimatedSpecialRate     809 non-null float64
RiskLevel                809 non-null int64
dtypes: float64(5), int64(2), object(2)
memory usage: 57.0+ KB

In [14]:
#  combining two dataframes to one

d=pd.concat([data1,data2])

In [8]:
d.to_csv('d.csv')

In [15]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1127 entries, 0 to 808
Data columns (total 9 columns):
State                    1127 non-null object
ZipCode                  1127 non-null int64
TaxRegionName            1127 non-null object
StateRate                1127 non-null float64
EstimatedCombinedRate    1127 non-null float64
EstimatedCountyRate      1127 non-null float64
EstimatedCityRate        1127 non-null float64
EstimatedSpecialRate     1127 non-null float64
RiskLevel                1127 non-null int64
dtypes: float64(5), int64(2), object(2)
memory usage: 88.0+ KB

## List of names of all the files

In [28]:
List_fileName=[
'TAXRATES_ZIP5_AK201903.csv',
'TAXRATES_ZIP5_AL201903.csv',
'TAXRATES_ZIP5_AR201903.csv',
'TAXRATES_ZIP5_AZ201903.csv',
'TAXRATES_ZIP5_CA201903.csv',
'TAXRATES_ZIP5_CO201903.csv',
'TAXRATES_ZIP5_CT201903.csv',
'TAXRATES_ZIP5_DC201903.csv',
'TAXRATES_ZIP5_DE201903.csv',
'TAXRATES_ZIP5_FL201903.csv',
'TAXRATES_ZIP5_GA201903.csv',
'TAXRATES_ZIP5_HI201903.csv',
'TAXRATES_ZIP5_IA201903.csv',
'TAXRATES_ZIP5_ID201903.csv',
'TAXRATES_ZIP5_IL201903.csv',
'TAXRATES_ZIP5_IN201903.csv',
'TAXRATES_ZIP5_KS201903.csv',
'TAXRATES_ZIP5_KY201903.csv',
'TAXRATES_ZIP5_LA201903.csv',
'TAXRATES_ZIP5_MA201903.csv',
'TAXRATES_ZIP5_MD201903.csv',
'TAXRATES_ZIP5_ME201903.csv',
'TAXRATES_ZIP5_MI201903.csv',
'TAXRATES_ZIP5_MN201903.csv',
'TAXRATES_ZIP5_MO201903.csv',
'TAXRATES_ZIP5_MS201903.csv',
'TAXRATES_ZIP5_MT201903.csv',
'TAXRATES_ZIP5_NC201903.csv',
'TAXRATES_ZIP5_ND201903.csv',
'TAXRATES_ZIP5_NE201903.csv',
'TAXRATES_ZIP5_NH201903.csv',
'TAXRATES_ZIP5_NJ201903.csv',
'TAXRATES_ZIP5_NM201903.csv',
'TAXRATES_ZIP5_NV201903.csv',
'TAXRATES_ZIP5_NY201903.csv',
'TAXRATES_ZIP5_OH201903.csv',
'TAXRATES_ZIP5_OK201903.csv',
'TAXRATES_ZIP5_OR201903.csv',
'TAXRATES_ZIP5_PA201903.csv',
'TAXRATES_ZIP5_PR201903.csv',
'TAXRATES_ZIP5_RI201903.csv',
'TAXRATES_ZIP5_SC201903.csv',
'TAXRATES_ZIP5_SD201903.csv',
'TAXRATES_ZIP5_TN201903.csv',
'TAXRATES_ZIP5_TX201903.csv',
'TAXRATES_ZIP5_UT201903.csv',
'TAXRATES_ZIP5_VA201903.csv',
'TAXRATES_ZIP5_VT201903.csv',
'TAXRATES_ZIP5_WA201903.csv',
'TAXRATES_ZIP5_WI201903.csv',
'TAXRATES_ZIP5_WV201903.csv',
'TAXRATES_ZIP5_WY201903.csv']

In [29]:
len(List_fileName)

52

In [39]:
# generate a list of variable-name for 52 data frame numbered as  dfn1,dfn2,dfn3,....

l2=[]
def df_gen(s=1,n=53):        # s:starting point =1
#     globals()l2=[]
    for i in range(s,n):
        k="dfn"+str(i)
        l2.append(k)

#calling function to generate the list of variable for
df_gen()

In [31]:
print(l2)

['dfn1', 'dfn2', 'dfn3', 'dfn4', 'dfn5', 'dfn6', 'dfn7', 'dfn8', 'dfn9', 'dfn10', 'dfn11', 'dfn12', 'dfn13', 'dfn14', 'dfn15', 'dfn16', 'dfn17', 'dfn18', 'dfn19', 'dfn20', 'dfn21', 'dfn22', 'dfn23', 'dfn24', 'dfn25', 'dfn26', 'dfn27', 'dfn28', 'dfn29', 'dfn30', 'dfn31', 'dfn32', 'dfn33', 'dfn34', 'dfn35', 'dfn36', 'dfn37', 'dfn38', 'dfn39', 'dfn40', 'dfn41', 'dfn42', 'dfn43', 'dfn44', 'dfn45', 'dfn46', 'dfn47', 'dfn48', 'dfn49', 'dfn50', 'dfn51', 'dfn52']

#### the above list of variable name in L2 can't be used to iterate over and assign them values(like dictionary)

In [65]:
# funtion for  generating global enumerated variable from list(l2 containing varaible names for df ) and 
# assign the the elements of l2 to the generated varable

def gen_enum():
    for n, val in enumerate(l2,start=1):
        globals()["df%d"%n] = val                 # string formating used here %d would be replaced by %n 
#         print(   ["df%d"%n])                      # just for testing : we print our farmatted string 

gen_enum()

In [55]:
# This routine opens (one by one) a file  in directory read the csv  and loads in a pandas dataframe

count=0
f='0'
dfn="df"
# print(l1)
        
for i,v in enumerate(List_fileName,start=1):   # i is the number generated and v is corresponding element of list
    count+=1
    filename="C:/Users/Ahmed/Documents/A_DrNoman/Bid_postal/TAXRATES_ZIP5/"+v            # file name of each file will be combined with  file path  folder
    fileobj="f_obj"+str(i)                       # fileobj variable is also created coresponding every new file
    f="f"+str(i)                                 # creating a variable on each iteration
    
        
    with open(filename,"r") as fileobj:          # opening file name in read mode one by one
        l2[i-1]=pd.read_csv(fileobj)             # load the read file to coresponding data frame,
                                                 #(i-1 ) is used because indexing of elements in list starts from 0

In [56]:
# just for testing : we are looking at last  dataframe

l2[51].describe()

,ZipCode,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
count,193.000000,1.930000e+02,193.000000,193.000000,193.0,193.0,193.000000
mean,82572.202073,4.000000e-02,0.053433,0.013433,0.0,0.0,1.606218
std,345.878931,2.782776e-17,0.005295,0.005295,0.0,0.0,1.030960
min,82001.000000,4.000000e-02,0.040000,0.000000,0.0,0.0,1.000000
25%,82301.000000,4.000000e-02,0.050000,0.010000,0.0,0.0,1.000000
50%,82604.000000,4.000000e-02,0.050000,0.010000,0.0,0.0,1.000000
75%,82844.000000,4.000000e-02,0.060000,0.020000,0.0,0.0,2.000000
max,83414.000000,4.000000e-02,0.060000,0.020000,0.0,0.0,6.000000

In [62]:
df52.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 9 columns):
State                    193 non-null object
ZipCode                  193 non-null int64
TaxRegionName            193 non-null object
StateRate                193 non-null float64
EstimatedCombinedRate    193 non-null float64
EstimatedCountyRate      193 non-null float64
EstimatedCityRate        193 non-null float64
EstimatedSpecialRate     193 non-null int64
RiskLevel                193 non-null int64
dtypes: float64(4), int64(3), object(2)
memory usage: 13.6+ KB

In [57]:
# concatenating or merging all dataframes

d_all=pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38, df39, df40, df41, df42, df43, df44, df45, df46, df47, df48, df49, df50, df51, df52, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38, df39, df40, df41, df42, df43, df44, df45, df46, df47, df48, df49, df50, df51, df52, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38, df39, df40, df41, df42, df43, df44, df45, df46, df47, df48, df49, df50, df51, df52])

In [108]:
d_all.to_csv('d_all.csv')

In [63]:
d_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122688 entries, 0 to 192
Data columns (total 9 columns):
State                    122688 non-null object
ZipCode                  122688 non-null int64
TaxRegionName            122688 non-null object
StateRate                122688 non-null float64
EstimatedCombinedRate    122688 non-null float64
EstimatedCountyRate      122688 non-null float64
EstimatedCityRate        122688 non-null float64
EstimatedSpecialRate     122688 non-null float64
RiskLevel                122688 non-null int64
dtypes: float64(5), int64(2), object(2)
memory usage: 9.4+ MB

In [ ]:
# done thill here

In [64]:
# making names from the list

for n, val in enumerate(l1,start=1):
    globals()["var%d"%n] = val
    print(["var%d"%n],end="")

print ("\n\n\n checking  for var5 ", var5)   
print (var5)  # etc.

NameError: name 'l1' is not defined

In [68]:
var52

NameError: name 'var52' is not defined