In [1]:
# 1. import csv  library
import csv
import pandas as pd

In [2]:
with open("C:/Users/Ahmed/Documents/A_DrNoman/Bid_postal/TAXRATES_ZIP5/TAXRATES_ZIP5_ID201903.csv","r") as f_obj1:
    data1=pd.read_csv(f_obj1)

In [3]:
data1

,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,ID,83201,POCATELLO CHUBBUCK AUDITORIUM DISTRICT SP,0.06,0.06,0.0,0.0,0.0,4
1,ID,83202,CHUBBUCK,0.06,0.06,0.0,0.0,0.0,3
2,ID,83203,POCATELLO CHUBBUCK AUDITORIUM DISTRICT SP,0.06,0.06,0.0,0.0,0.0,4
3,ID,83204,POCATELLO CHUBBUCK AUDITORIUM DISTRICT SP,0.06,0.06,0.0,0.0,0.0,2
4,ID,83205,POCATELLO CHUBBUCK AUDITORIUM DISTRICT SP,0.06,0.06,0.0,0.0,0.0,2
5,ID,83206,POCATELLO CHUBBUCK AUDITORIUM DISTRICT SP,0.06,0.06,0.0,0.0,0.0,1
6,ID,83209,POCATELLO CHUBBUCK AUDITORIUM DISTRICT SP,0.06,0.06,0.0,0.0,0.0,2
7,ID,83210,BINGHAM,0.06,0.06,0.0,0.0,0.0,2
8,ID,83211,AMERICAN FALLS,0.06,0.06,0.0,0.0,0.0,3
9,ID,83212,POWER,0.06,0.06,0.0,0.0,0.0,1
10,ID,83213,ARCO,0.06,0.06,0.0,0.0,0.0,2
11,ID,83214,ARIMO,0.06,0.06,0.0,0.0,0.0,4
12,ID,83215,ATOMIC CITY,0.06,0.06,0.0,0.0,0.0,1
13,ID,83217,CARIBOU,0.06,0.06,0.0,0.0,0.0,4
14,ID,83218,POCATELLO CHUBBUCK AUDITORIUM DISTRICT SP,0.06,0.06,0.0,0.0,0.0,1
15,ID,83220,BEAR LAKE,0.06,0.06,0.0,0.0,0.0,1
16,ID,83221,BLACKFOOT,0.06,0.06,0.0,0.0,0.0,8
17,ID,83223,BLOOMINGTON,0.06,0.06,0.0,0.0,0.0,1
18,ID,83226,CHALLIS,0.06,0.06,0.0,0.0,0.0,2
19,ID,83227,CLAYTON,0.06,0.06,0.0,0.0,0.0,2
20,ID,83228,FRANKLIN,0.06,0.06,0.0,0.0,0.0,2
21,ID,83229,LEMHI,0.06,0.06,0.0,0.0,0.0,2
22,ID,83232,DAYTON,0.06,0.06,0.0,0.0,0.0,1
23,ID,83233,BEAR LAKE,0.06,0.06,0.0,0.0,0.0,1
24,ID,83234,BANNOCK,0.06,0.06,0.0,0.0,0.0,2
25,ID,83235,LEMHI,0.06,0.06,0.0,0.0,0.0,2
26,ID,83236,BINGHAM,0.06,0.06,0.0,0.0,0.0,3
27,ID,83237,FRANKLIN,0.06,0.06,0.0,0.0,0.0,1
28,ID,83238,BEAR LAKE,0.06,0.06,0.0,0.0,0.0,2
29,ID,83239,BEAR LAKE,0.06,0.06,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...
288,ID,83844,MOSCOW,0.06,0.06,0.0,0.0,0.0,1
289,ID,83845,BOUNDARY,0.06,0.06,0.0,0.0,0.0,1
290,ID,83846,MULLAN,0.06,0.06,0.0,0.0,0.0,1
291,ID,83847,BOUNDARY,0.06,0.06,0.0,0.0,0.0,1
292,ID,83848,BONNER,0.06,0.06,0.0,0.0,0.0,1
293,ID,83849,OSBURN,0.06,0.06,0.0,0.0,0.0,1
294,ID,83850,PINEHURST,0.06,0.06,0.0,0.0,0.0,1
295,ID,83851,BENEWAH,0.06,0.06,0.0,0.0,0.0,1
296,ID,83852,PONDERAY,0.06,0.06,0.0,0.0,0.0,1
297,ID,83853,BOUNDARY,0.06,0.06,0.0,0.0,0.0,1
298,ID,83854,POST FALLS,0.06,0.06,0.0,0.0,0.0,2
299,ID,83855,LATAH,0.06,0.06,0.0,0.0,0.0,2
300,ID,83856,BONNER,0.06,0.06,0.0,0.0,0.0,2
301,ID,83857,LATAH,0.06,0.06,0.0,0.0,0.0,1
302,ID,83858,KOOTENAI,0.06,0.06,0.0,0.0,0.0,2
303,ID,83860,BONNER,0.06,0.06,0.0,0.0,0.0,1
304,ID,83861,BENEWAH,0.06,0.06,0.0,0.0,0.0,1
305,ID,83864,BONNER,0.06,0.06,0.0,0.0,0.0,1
306,ID,83865,BOUNDARY,0.06,0.06,0.0,0.0,0.0,1
307,ID,83866,BENEWAH,0.06,0.06,0.0,0.0,0.0,1
308,ID,83867,SHOSHONE,0.06,0.06,0.0,0.0,0.0,1
309,ID,83868,SHOSHONE,0.06,0.06,0.0,0.0,0.0,1
310,ID,83869,KOOTENAI,0.06,0.06,0.0,0.0,0.0,1
311,ID,83870,BENEWAH,0.06,0.06,0.0,0.0,0.0,1
312,ID,83871,LATAH,0.06,0.06,0.0,0.0,0.0,1
313,ID,83872,LATAH,0.06,0.06,0.0,0.0,0.0,1
314,ID,83873,WALLACE,0.06,0.06,0.0,0.0,0.0,2
315,ID,83874,KELLOGG,0.06,0.06,0.0,0.0,0.0,2
316,ID,83876,KOOTENAI,0.06,0.06,0.0,0.0,0.0,1
317,ID,83877,POST FALLS,0.06,0.06,0.0,0.0,0.0,1

In [4]:
with open("C:/Users/Ahmed/Documents/A_DrNoman/Bid_postal/TAXRATES_ZIP5/TAXRATES_ZIP5_AL201903.csv","r") as f_obj2:
    data2=pd.read_csv(f_obj2)

In [6]:
data2.describe()

,ZipCode,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
count,809.000000,8.090000e+02,809.000000,809.000000,809.000000,809.000000,809.000000
mean,35946.961681,4.000000e-02,0.080218,0.019234,0.018575,0.002409,1.494438
std,574.356010,6.318300e-16,0.017503,0.011182,0.019921,0.005307,1.033010
min,35004.000000,4.000000e-02,0.050000,0.000000,0.000000,0.000000,1.000000
25%,35468.000000,4.000000e-02,0.060000,0.010000,0.000000,0.000000,1.000000
50%,35989.000000,4.000000e-02,0.085000,0.020000,0.000000,0.000000,1.000000
75%,36473.000000,4.000000e-02,0.100000,0.025000,0.040000,0.000000,2.000000
max,36925.000000,4.000000e-02,0.110000,0.050000,0.050000,0.030000,9.000000

In [7]:
data1.describe()

,ZipCode,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
count,318.000000,3.180000e+02,318.000000,318.0,318.000000,318.0,318.000000
mean,83541.235849,6.000000e-02,0.060393,0.0,0.000393,0.0,1.801887
std,214.430294,6.949830e-17,0.003064,0.0,0.003064,0.0,1.392317
min,83201.000000,6.000000e-02,0.060000,0.0,0.000000,0.0,1.000000
25%,83337.250000,6.000000e-02,0.060000,0.0,0.000000,0.0,1.000000
50%,83544.500000,6.000000e-02,0.060000,0.0,0.000000,0.0,1.000000
75%,83713.750000,6.000000e-02,0.060000,0.0,0.000000,0.0,2.000000
max,83877.000000,6.000000e-02,0.090000,0.0,0.030000,0.0,12.000000

In [8]:
d=pd.concat([data1,data2])

In [8]:
d.to_csv('d.csv')

In [9]:
file_name=[
'TAXRATES_ZIP5_AK201903.csv',
'TAXRATES_ZIP5_AL201903.csv',
'TAXRATES_ZIP5_AR201903.csv',
'TAXRATES_ZIP5_AZ201903.csv',
'TAXRATES_ZIP5_CA201903.csv',
'TAXRATES_ZIP5_CO201903.csv',
'TAXRATES_ZIP5_CT201903.csv',
'TAXRATES_ZIP5_DC201903.csv',
'TAXRATES_ZIP5_DE201903.csv',
'TAXRATES_ZIP5_FL201903.csv',
'TAXRATES_ZIP5_GA201903.csv',
'TAXRATES_ZIP5_HI201903.csv',
'TAXRATES_ZIP5_IA201903.csv',
'TAXRATES_ZIP5_ID201903.csv',
'TAXRATES_ZIP5_IL201903.csv',
'TAXRATES_ZIP5_IN201903.csv',
'TAXRATES_ZIP5_KS201903.csv',
'TAXRATES_ZIP5_KY201903.csv',
'TAXRATES_ZIP5_LA201903.csv',
'TAXRATES_ZIP5_MA201903.csv',
'TAXRATES_ZIP5_MD201903.csv',
'TAXRATES_ZIP5_ME201903.csv',
'TAXRATES_ZIP5_MI201903.csv',
'TAXRATES_ZIP5_MN201903.csv',
'TAXRATES_ZIP5_MO201903.csv',
'TAXRATES_ZIP5_MS201903.csv',
'TAXRATES_ZIP5_MT201903.csv',
'TAXRATES_ZIP5_NC201903.csv',
'TAXRATES_ZIP5_ND201903.csv',
'TAXRATES_ZIP5_NE201903.csv',
'TAXRATES_ZIP5_NH201903.csv',
'TAXRATES_ZIP5_NJ201903.csv',
'TAXRATES_ZIP5_NM201903.csv',
'TAXRATES_ZIP5_NV201903.csv',
'TAXRATES_ZIP5_NY201903.csv',
'TAXRATES_ZIP5_OH201903.csv',
'TAXRATES_ZIP5_OK201903.csv',
'TAXRATES_ZIP5_OR201903.csv',
'TAXRATES_ZIP5_PA201903.csv',
'TAXRATES_ZIP5_PR201903.csv',
'TAXRATES_ZIP5_RI201903.csv',
'TAXRATES_ZIP5_SC201903.csv',
'TAXRATES_ZIP5_SD201903.csv',
'TAXRATES_ZIP5_TN201903.csv',
'TAXRATES_ZIP5_TX201903.csv',
'TAXRATES_ZIP5_UT201903.csv',
'TAXRATES_ZIP5_VA201903.csv',
'TAXRATES_ZIP5_VT201903.csv',
'TAXRATES_ZIP5_WA201903.csv',
'TAXRATES_ZIP5_WI201903.csv',
'TAXRATES_ZIP5_WV201903.csv',
'TAXRATES_ZIP5_WY201903.csv']

In [10]:
len(file_name)

52

In [38]:
# generate a list of varalbe for 52 data frame numbered
l2=[]
def df_gen(s=1,n=53):
#     globals()l2=[]
    for i in range(s,n):
        k="dfn"+str(i)
        l2.append(k)

In [46]:
#calling function to generate the list of variable for
df_gen()

In [47]:
print(l2)

['dfn1', 'dfn2', 'dfn3', 'dfn4', 'dfn5', 'dfn6', 'dfn7', 'dfn8', 'dfn9', 'dfn10', 'dfn11', 'dfn12', 'dfn13', 'dfn14', 'dfn15', 'dfn16', 'dfn17', 'dfn18', 'dfn19', 'dfn20', 'dfn21', 'dfn22', 'dfn23', 'dfn24', 'dfn25', 'dfn26', 'dfn27', 'dfn28', 'dfn29', 'dfn30', 'dfn31', 'dfn32', 'dfn33', 'dfn34', 'dfn35', 'dfn36', 'dfn37', 'dfn38', 'dfn39', 'dfn40', 'dfn41', 'dfn42', 'dfn43', 'dfn44', 'dfn45', 'dfn46', 'dfn47', 'dfn48', 'dfn49', 'dfn50', 'dfn51', 'dfn52', 'dfn1', 'dfn2', 'dfn3', 'dfn4', 'dfn5', 'dfn6', 'dfn7', 'dfn8', 'dfn9', 'dfn10', 'dfn11', 'dfn12', 'dfn13', 'dfn14', 'dfn15', 'dfn16', 'dfn17', 'dfn18', 'dfn19', 'dfn20', 'dfn21', 'dfn22', 'dfn23', 'dfn24', 'dfn25', 'dfn26', 'dfn27', 'dfn28', 'dfn29', 'dfn30', 'dfn31', 'dfn32', 'dfn33', 'dfn34', 'dfn35', 'dfn36', 'dfn37', 'dfn38', 'dfn39', 'dfn40', 'dfn41', 'dfn42', 'dfn43', 'dfn44', 'dfn45', 'dfn46', 'dfn47', 'dfn48', 'dfn49', 'dfn50', 'dfn51', 'dfn52', 'dfn1', 'dfn2', 'dfn3', 'dfn4', 'dfn5', 'dfn6', 'dfn7', 'dfn8', 'dfn9', 'dfn10', 'dfn11', 'dfn12', 'dfn13', 'dfn14', 'dfn15', 'dfn16', 'dfn17', 'dfn18', 'dfn19', 'dfn20', 'dfn21', 'dfn22', 'dfn23', 'dfn24', 'dfn25', 'dfn26', 'dfn27', 'dfn28', 'dfn29', 'dfn30', 'dfn31', 'dfn32', 'dfn33', 'dfn34', 'dfn35', 'dfn36', 'dfn37', 'dfn38', 'dfn39', 'dfn40', 'dfn41', 'dfn42', 'dfn43', 'dfn44', 'dfn45', 'dfn46', 'dfn47', 'dfn48', 'dfn49', 'dfn50', 'dfn51', 'dfn52']

In [48]:
len(l2)

156

In [87]:
# funtion for  generating global enumerated variable form  list(l2 containing varaible names ) and a
# assign the the elements of l2 to the generated varable

def gen_enum():
    for n, val in enumerate(l2,start=1):
        globals()["df%d"%n] = val
        print(["df%d"%n])
gen_enum()

['df1']
['df2']
['df3']
['df4']
['df5']
['df6']
['df7']
['df8']
['df9']
['df10']
['df11']
['df12']
['df13']
['df14']
['df15']
['df16']
['df17']
['df18']
['df19']
['df20']
['df21']
['df22']
['df23']
['df24']
['df25']
['df26']
['df27']
['df28']
['df29']
['df30']
['df31']
['df32']
['df33']
['df34']
['df35']
['df36']
['df37']
['df38']
['df39']
['df40']
['df41']
['df42']
['df43']
['df44']
['df45']
['df46']
['df47']
['df48']
['df49']
['df50']
['df51']
['df52']
['df53']
['df54']
['df55']
['df56']
['df57']
['df58']
['df59']
['df60']
['df61']
['df62']
['df63']
['df64']
['df65']
['df66']
['df67']
['df68']
['df69']
['df70']
['df71']
['df72']
['df73']
['df74']
['df75']
['df76']
['df77']
['df78']
['df79']
['df80']
['df81']
['df82']
['df83']
['df84']
['df85']
['df86']
['df87']
['df88']
['df89']
['df90']
['df91']
['df92']
['df93']
['df94']
['df95']
['df96']
['df97']
['df98']
['df99']
['df100']
['df101']
['df102']
['df103']
['df104']
['df105']
['df106']
['df107']
['df108']
['df109']
['df110']
['df111']
['df112']
['df113']
['df114']
['df115']
['df116']
['df117']
['df118']
['df119']
['df120']
['df121']
['df122']
['df123']
['df124']
['df125']
['df126']
['df127']
['df128']
['df129']
['df130']
['df131']
['df132']
['df133']
['df134']
['df135']
['df136']
['df137']
['df138']
['df139']
['df140']
['df141']
['df142']
['df143']
['df144']
['df145']
['df146']
['df147']
['df148']
['df149']
['df150']
['df151']
['df152']
['df153']
['df154']
['df155']
['df156']

In [104]:
# This routine opens (one by one) a file  in directory read the csv  and loads in a pandas dataframe

count=0
f='0'
dfn="df"
# print(l1)
        
for i,v in enumerate(file_name,start=1):
    count+=1
    filename="C:/Users/Ahmed/Documents/A_DrNoman/Bid_postal/TAXRATES_ZIP5/"+v
    fileobj="f_obj"+str(i)
    f="f"+str(i)
        
    with open(filename,"r") as fileobj:
        l2[i]=pd.read_csv(fileobj) # load the read file to coresponding data frame
    
#     l2[i]   
    
# df12

In [ ]:
['dfn1', 'dfn2', 'dfn3', 'dfn4', 'dfn5', 'dfn6', 'dfn7', 'dfn8', 'dfn9', 'dfn10', 'dfn11', 'dfn12', 'dfn13', 'dfn14', 'dfn15', 'dfn16', 'dfn17', 'dfn18', 'dfn19', 'dfn20', 'dfn21', 'dfn22', 'dfn23', 'dfn24', 'dfn25', 'dfn26', 'dfn27', 'dfn28', 'dfn29', 'dfn30', 'dfn31', 'dfn32', 'dfn33', 'dfn34', 'dfn35', 'dfn36', 'dfn37', 'dfn38', 'dfn39', 'dfn40', 'dfn41', 'dfn42', 'dfn43', 'dfn44', 'dfn45', 'dfn46', 'dfn47', 'dfn48', 'dfn49', 'dfn50', 'dfn51', 'dfn52', 'dfn1', 'dfn2', 'dfn3', 'dfn4', 'dfn5', 'dfn6', 'dfn7', 'dfn8', 'dfn9', 'dfn10', 'dfn11', 'dfn12', 'dfn13', 'dfn14', 'dfn15', 'dfn16', 'dfn17', 'dfn18', 'dfn19', 'dfn20', 'dfn21', 'dfn22', 'dfn23', 'dfn24', 'dfn25', 'dfn26', 'dfn27', 'dfn28', 'dfn29', 'dfn30', 'dfn31', 'dfn32', 'dfn33', 'dfn34', 'dfn35', 'dfn36', 'dfn37', 'dfn38', 'dfn39', 'dfn40', 'dfn41', 'dfn42', 'dfn43', 'dfn44', 'dfn45', 'dfn46', 'dfn47', 'dfn48', 'dfn49', 'dfn50', 'dfn51', 'dfn52', 'dfn1', 'dfn2', 'dfn3', 'dfn4', 'dfn5', 'dfn6', 'dfn7', 'dfn8', 'dfn9', 'dfn10', 'dfn11', 'dfn12', 'dfn13', 'dfn14', 'dfn15', 'dfn16', 'dfn17', 'dfn18', 'dfn19', 'dfn20', 'dfn21', 'dfn22', 'dfn23', 'dfn24', 'dfn25', 'dfn26', 'dfn27', 'dfn28', 'dfn29', 'dfn30', 'dfn31', 'dfn32', 'dfn33', 'dfn34', 'dfn35', 'dfn36', 'dfn37', 'dfn38', 'dfn39', 'dfn40', 'dfn41', 'dfn42', 'dfn43', 'dfn44', 'dfn45', 'dfn46', 'dfn47', 'dfn48', 'dfn49', 'dfn50', 'dfn51', 'dfn52']

In [107]:
d_all=pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38, df39, df40, df41, df42, df43, df44, df45, df46, df47, df48, df49, df50, df51, df52, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38, df39, df40, df41, df42, df43, df44, df45, df46, df47, df48, df49, df50, df51, df52, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38, df39, df40, df41, df42, df43, df44, df45, df46, df47, df48, df49, df50, df51, df52])

In [108]:
d_all.to_csv('d_all.csv')

In [109]:
d_all.describe()

,ZipCode,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
count,122922.000000,122922.000000,122922.000000,122922.000000,122922.000000,122922.000000,122922.000000
mean,49725.601064,0.053681,0.068384,0.008196,0.004135,0.002372,1.344023
std,28095.213479,0.015277,0.018761,0.011423,0.010431,0.006269,1.355414
min,501.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,26150.000000,0.045000,0.060000,0.000000,0.000000,0.000000,1.000000
50%,48877.500000,0.060000,0.070000,0.002500,0.000000,0.000000,1.000000
75%,73022.000000,0.062500,0.080000,0.012500,0.000000,0.000000,2.000000
max,99950.000000,0.105000,0.115000,0.065000,0.089375,0.090625,28.000000

In [96]:
# making names from the list

for n, val in enumerate(l1,start=1):
    globals()["var%d"%n] = val
    print(["var%d"%n],end="")

print ("\n\n\n checking  for var5 ", var5)   
print (var5)  # etc.

['var1']['var2']['var3']['var4']['var5']['var6']['var7']['var8']['var9']['var10']['var11']['var12']['var13']['var14']['var15']['var16']['var17']['var18']['var19']['var20']['var21']['var22']['var23']['var24']['var25']['var26']['var27']['var28']['var29']['var30']['var31']['var32']['var33']['var34']['var35']['var36']['var37']['var38']['var39']['var40']['var41']['var42']['var43']['var44']['var45']['var46']['var47']['var48']['var49']['var50']['var51']['var52']


 checking  for var5       State  ZipCode                                  TaxRegionName  StateRate  \
0       CA    90001                             LOS ANGELES COUNTY       0.06
1       CA    90002                                    LOS ANGELES       0.06
2       CA    90003                                    LOS ANGELES       0.06
3       CA    90004                                    LOS ANGELES       0.06
4       CA    90005                                    LOS ANGELES       0.06
5       CA    90006                                    LOS ANGELES       0.06
6       CA    90007                                    LOS ANGELES       0.06
7       CA    90008                                    LOS ANGELES       0.06
8       CA    90009                                    LOS ANGELES       0.06
9       CA    90010                                    LOS ANGELES       0.06
10      CA    90011                                    LOS ANGELES       0.06
11      CA    90012                                    LOS ANGELES       0.06
12      CA    90013                                    LOS ANGELES       0.06
13      CA    90014                                    LOS ANGELES       0.06
14      CA    90015                                    LOS ANGELES       0.06
15      CA    90016                                    LOS ANGELES       0.06
16      CA    90017                                    LOS ANGELES       0.06
17      CA    90018                                    LOS ANGELES       0.06
18      CA    90019                                    LOS ANGELES       0.06
19      CA    90020                                    LOS ANGELES       0.06
20      CA    90021                                    LOS ANGELES       0.06
21      CA    90022                             LOS ANGELES COUNTY       0.06
22      CA    90023                                    LOS ANGELES       0.06
23      CA    90024                                    LOS ANGELES       0.06
24      CA    90025                                    LOS ANGELES       0.06
25      CA    90026                                    LOS ANGELES       0.06
26      CA    90027                                    LOS ANGELES       0.06
27      CA    90028                                    LOS ANGELES       0.06
28      CA    90029                                    LOS ANGELES       0.06
29      CA    90030                                    LOS ANGELES       0.06
...    ...      ...                                            ...        ...
2549    CA    96124                                  SIERRA COUNTY       0.06
2550    CA    96125                                  SIERRA COUNTY       0.06
2551    CA    96126                                  SIERRA COUNTY       0.06
2552    CA    96127                                     SUSANVILLE       0.06
2553    CA    96128                                  LASSEN COUNTY       0.06
2554    CA    96129                                  PLUMAS COUNTY       0.06
2555    CA    96130                                     SUSANVILLE       0.06
2556    CA    96132                                  LASSEN COUNTY       0.06
2557    CA    96133                                    MONO COUNTY       0.06
2558    CA    96134                                   MODOC COUNTY       0.06
2559    CA    96135                                  PLUMAS COUNTY       0.06
2560    CA    96136                                  LASSEN COUNTY       0.06
2561    CA    96137                                  PLUMAS COUNTY       0.06
2562    CA    96140                 PLACER COUNTY NORTH TAHOE AREA       0.06
2563    CA    96141                 PLACER COUNTY NORTH TAHOE AREA       0.06
2564    CA    96142                               EL DORADO COUNTY       0.06
2565    CA    96143                 PLACER COUNTY NORTH TAHOE AREA       0.06
2566    CA    96145                 PLACER COUNTY NORTH TAHOE AREA       0.06
2567    CA    96146                 PLACER COUNTY NORTH TAHOE AREA       0.06
2568    CA    96148                 PLACER COUNTY NORTH TAHOE AREA       0.06
2569    CA    96150  SOUTH LAKE TAHOE TOURISM IMPROVEMENT DISTRICT       0.06
2570    CA    96151  SOUTH LAKE TAHOE TOURISM IMPROVEMENT DISTRICT       0.06
2571    CA    96152  SOUTH LAKE TAHOE TOURISM IMPROVEMENT DISTRICT       0.06
2572    CA    96154  SOUTH LAKE TAHOE TOURISM IMPROVEMENT DISTRICT       0.06
2573    CA    96155                               EL DORADO COUNTY       0.06
2574    CA    96157                               EL DORADO COUNTY       0.06
2575    CA    96158        SOUTH LAKE TAHOE NON REDEVELOPMENT AREA       0.06
2576    CA    96160  TRUCKEE TOURISM BUSINESS IMPROVEMENT DISTRICT       0.06
2577    CA    96161  TRUCKEE TOURISM BUSINESS IMPROVEMENT DISTRICT       0.06
2578    CA    96162  TRUCKEE TOURISM BUSINESS IMPROVEMENT DISTRICT       0.06

      EstimatedCombinedRate  EstimatedCountyRate  EstimatedCityRate  \
0                    0.0950               0.0025             0.0000
1                    0.0950               0.0025             0.0000
2                    0.0950               0.0025             0.0000
3                    0.0950               0.0025             0.0000
4                    0.0950               0.0025             0.0000
5                    0.0950               0.0025             0.0000
6                    0.0950               0.0025             0.0000
7                    0.0950               0.0025             0.0000
8                    0.0950               0.0025             0.0000
9                    0.0950               0.0025             0.0000
10                   0.0950               0.0025             0.0000
11                   0.0950               0.0025             0.0000
12                   0.0950               0.0025             0.0000
13                   0.0950               0.0025             0.0000
14                   0.0950               0.0025             0.0000
15                   0.0950               0.0025             0.0000
16                   0.0950               0.0025             0.0000
17                   0.0950               0.0025             0.0000
18                   0.0950               0.0025             0.0000
19                   0.0950               0.0025             0.0000
20                   0.0950               0.0025             0.0000
21                   0.0950               0.0025             0.0000
22                   0.0950               0.0025             0.0000
23                   0.0950               0.0025             0.0000
24                   0.0950               0.0025             0.0000
25                   0.0950               0.0025             0.0000
26                   0.0950               0.0025             0.0000
27                   0.0950               0.0025             0.0000
28                   0.0950               0.0025             0.0000
29                   0.0950               0.0025             0.0000
...                     ...                  ...                ...
2549                 0.0725               0.0025             0.0000
2550                 0.0725               0.0025             0.0000
2551                 0.0725               0.0025             0.0000
2552                 0.0725               0.0025             0.0000
2553                 0.0725               0.0025             0.0000
2554                 0.0725               0.0025             0.0000
2555                 0.0725               0.0025             0.0000
2556                 0.0725               0.0025             0.0000
2557                 0.0725               0.0025             0.0000
2558                 0.0725               0.0025             0.0000
2559                 0.0725               0.0025             0.0000
2560                 0.0725               0.0025             0.0000
2561                 0.0725               0.0025             0.0000
2562                 0.0725               0.0025             0.0000
2563                 0.0725               0.0025             0.0000
2564                 0.0725               0.0025             0.0000
2565                 0.0725               0.0025             0.0000
2566                 0.0725               0.0025             0.0000
2567                 0.0725               0.0025             0.0000
2568                 0.0725               0.0025             0.0000
2569                 0.0775               0.0025             0.0050
2570                 0.0775               0.0025             0.0050
2571                 0.0775               0.0025             0.0050
2572                 0.0775               0.0025             0.0050
2573                 0.0725               0.0025             0.0000
2574                 0.0725               0.0025             0.0000
2575                 0.0775               0.0025             0.0050
2576                 0.0825               0.0025             0.0075
2577                 0.0825               0.0025             0.0075
2578                 0.0825               0.0025             0.0075

      EstimatedSpecialRate  RiskLevel
0                   0.0325          2
1                   0.0325          2
2                   0.0325          1
3                   0.0325          2
4                   0.0325          2
5                   0.0325          2
6                   0.0325          2
7                   0.0325          5
8                   0.0325          1
9                   0.0325          2
10                  0.0325          1
11                  0.0325          3
12                  0.0325          3
13                  0.0325          1
14                  0.0325          1
15                  0.0325          2
16                  0.0325          2
17                  0.0325          3
18                  0.0325          2
19                  0.0325          2
20                  0.0325          2
21                  0.0325          3
22                  0.0325          3
23                  0.0325          2
24                  0.0325          2
25                  0.0325          5
26                  0.0325          3
27                  0.0325          2
28                  0.0325          2
29                  0.0325          1
...                    ...        ...
2549                0.0100          2
2550                0.0100          2
2551                0.0100          1
2552                0.0100          1
2553                0.0100          1
2554                0.0100          2
2555                0.0100          3
2556                0.0100          1
2557                0.0100          1
2558                0.0100          3
2559                0.0100          1
2560                0.0100          1
2561                0.0100          3
2562                0.0100          6
2563                0.0100          2
2564                0.0100          3
2565                0.0100          2
2566                0.0100          2
2567                0.0100          3
2568                0.0100          1
2569                0.0100          1
2570                0.0100          2
2571                0.0100          1
2572                0.0100          1
2573                0.0100          3
2574                0.0100          1
2575                0.0100          2
2576                0.0125          1
2577                0.0125          8
2578                0.0125          1

[2579 rows x 9 columns]
     State  ZipCode                                  TaxRegionName  StateRate  \
0       CA    90001                             LOS ANGELES COUNTY       0.06
1       CA    90002                                    LOS ANGELES       0.06
2       CA    90003                                    LOS ANGELES       0.06
3       CA    90004                                    LOS ANGELES       0.06
4       CA    90005                                    LOS ANGELES       0.06
5       CA    90006                                    LOS ANGELES       0.06
6       CA    90007                                    LOS ANGELES       0.06
7       CA    90008                                    LOS ANGELES       0.06
8       CA    90009                                    LOS ANGELES       0.06
9       CA    90010                                    LOS ANGELES       0.06
10      CA    90011                                    LOS ANGELES       0.06
11      CA    90012                                    LOS ANGELES       0.06
12      CA    90013                                    LOS ANGELES       0.06
13      CA    90014                                    LOS ANGELES       0.06
14      CA    90015                                    LOS ANGELES       0.06
15      CA    90016                                    LOS ANGELES       0.06
16      CA    90017                                    LOS ANGELES       0.06
17      CA    90018                                    LOS ANGELES       0.06
18      CA    90019                                    LOS ANGELES       0.06
19      CA    90020                                    LOS ANGELES       0.06
20      CA    90021                                    LOS ANGELES       0.06
21      CA    90022                             LOS ANGELES COUNTY       0.06
22      CA    90023                                    LOS ANGELES       0.06
23      CA    90024                                    LOS ANGELES       0.06
24      CA    90025                                    LOS ANGELES       0.06
25      CA    90026                                    LOS ANGELES       0.06
26      CA    90027                                    LOS ANGELES       0.06
27      CA    90028                                    LOS ANGELES       0.06
28      CA    90029                                    LOS ANGELES       0.06
29      CA    90030                                    LOS ANGELES       0.06
...    ...      ...                                            ...        ...
2549    CA    96124                                  SIERRA COUNTY       0.06
2550    CA    96125                                  SIERRA COUNTY       0.06
2551    CA    96126                                  SIERRA COUNTY       0.06
2552    CA    96127                                     SUSANVILLE       0.06
2553    CA    96128                                  LASSEN COUNTY       0.06
2554    CA    96129                                  PLUMAS COUNTY       0.06
2555    CA    96130                                     SUSANVILLE       0.06
2556    CA    96132                                  LASSEN COUNTY       0.06
2557    CA    96133                                    MONO COUNTY       0.06
2558    CA    96134                                   MODOC COUNTY       0.06
2559    CA    96135                                  PLUMAS COUNTY       0.06
2560    CA    96136                                  LASSEN COUNTY       0.06
2561    CA    96137                                  PLUMAS COUNTY       0.06
2562    CA    96140                 PLACER COUNTY NORTH TAHOE AREA       0.06
2563    CA    96141                 PLACER COUNTY NORTH TAHOE AREA       0.06
2564    CA    96142                               EL DORADO COUNTY       0.06
2565    CA    96143                 PLACER COUNTY NORTH TAHOE AREA       0.06
2566    CA    96145                 PLACER COUNTY NORTH TAHOE AREA       0.06
2567    CA    96146                 PLACER COUNTY NORTH TAHOE AREA       0.06
2568    CA    96148                 PLACER COUNTY NORTH TAHOE AREA       0.06
2569    CA    96150  SOUTH LAKE TAHOE TOURISM IMPROVEMENT DISTRICT       0.06
2570    CA    96151  SOUTH LAKE TAHOE TOURISM IMPROVEMENT DISTRICT       0.06
2571    CA    96152  SOUTH LAKE TAHOE TOURISM IMPROVEMENT DISTRICT       0.06
2572    CA    96154  SOUTH LAKE TAHOE TOURISM IMPROVEMENT DISTRICT       0.06
2573    CA    96155                               EL DORADO COUNTY       0.06
2574    CA    96157                               EL DORADO COUNTY       0.06
2575    CA    96158        SOUTH LAKE TAHOE NON REDEVELOPMENT AREA       0.06
2576    CA    96160  TRUCKEE TOURISM BUSINESS IMPROVEMENT DISTRICT       0.06
2577    CA    96161  TRUCKEE TOURISM BUSINESS IMPROVEMENT DISTRICT       0.06
2578    CA    96162  TRUCKEE TOURISM BUSINESS IMPROVEMENT DISTRICT       0.06

      EstimatedCombinedRate  EstimatedCountyRate  EstimatedCityRate  \
0                    0.0950               0.0025             0.0000
1                    0.0950               0.0025             0.0000
2                    0.0950               0.0025             0.0000
3                    0.0950               0.0025             0.0000
4                    0.0950               0.0025             0.0000
5                    0.0950               0.0025             0.0000
6                    0.0950               0.0025             0.0000
7                    0.0950               0.0025             0.0000
8                    0.0950               0.0025             0.0000
9                    0.0950               0.0025             0.0000
10                   0.0950               0.0025             0.0000
11                   0.0950               0.0025             0.0000
12                   0.0950               0.0025             0.0000
13                   0.0950               0.0025             0.0000
14                   0.0950               0.0025             0.0000
15                   0.0950               0.0025             0.0000
16                   0.0950               0.0025             0.0000
17                   0.0950               0.0025             0.0000
18                   0.0950               0.0025             0.0000
19                   0.0950               0.0025             0.0000
20                   0.0950               0.0025             0.0000
21                   0.0950               0.0025             0.0000
22                   0.0950               0.0025             0.0000
23                   0.0950               0.0025             0.0000
24                   0.0950               0.0025             0.0000
25                   0.0950               0.0025             0.0000
26                   0.0950               0.0025             0.0000
27                   0.0950               0.0025             0.0000
28                   0.0950               0.0025             0.0000
29                   0.0950               0.0025             0.0000
...                     ...                  ...                ...
2549                 0.0725               0.0025             0.0000
2550                 0.0725               0.0025             0.0000
2551                 0.0725               0.0025             0.0000
2552                 0.0725               0.0025             0.0000
2553                 0.0725               0.0025             0.0000
2554                 0.0725               0.0025             0.0000
2555                 0.0725               0.0025             0.0000
2556                 0.0725               0.0025             0.0000
2557                 0.0725               0.0025             0.0000
2558                 0.0725               0.0025             0.0000
2559                 0.0725               0.0025             0.0000
2560                 0.0725               0.0025             0.0000
2561                 0.0725               0.0025             0.0000
2562                 0.0725               0.0025             0.0000
2563                 0.0725               0.0025             0.0000

In [99]:
var52

,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,WY,82001,CHEYENNE,0.04,0.06,0.02,0.0,0,1
1,WY,82002,CHEYENNE,0.04,0.06,0.02,0.0,0,1
2,WY,82003,CHEYENNE,0.04,0.06,0.02,0.0,0,1
3,WY,82005,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,1
4,WY,82006,CHEYENNE,0.04,0.06,0.02,0.0,0,1
5,WY,82007,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,1
6,WY,82009,CHEYENNE,0.04,0.06,0.02,0.0,0,3
7,WY,82010,CHEYENNE,0.04,0.06,0.02,0.0,0,1
8,WY,82050,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,1
9,WY,82051,ALBANY COUNTY,0.04,0.06,0.02,0.0,0,3
10,WY,82052,ALBANY COUNTY,0.04,0.06,0.02,0.0,0,1
11,WY,82053,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,2
12,WY,82054,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,1
13,WY,82055,ALBANY COUNTY,0.04,0.06,0.02,0.0,0,1
14,WY,82058,ALBANY COUNTY,0.04,0.06,0.02,0.0,0,2
15,WY,82059,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,3
16,WY,82060,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,1
17,WY,82061,CHEYENNE,0.04,0.06,0.02,0.0,0,1
18,WY,82063,ALBANY COUNTY,0.04,0.06,0.02,0.0,0,3
19,WY,82070,LARAMIE,0.04,0.06,0.02,0.0,0,4
20,WY,82071,LARAMIE,0.04,0.06,0.02,0.0,0,1
21,WY,82072,LARAMIE,0.04,0.06,0.02,0.0,0,5
22,WY,82073,LARAMIE,0.04,0.06,0.02,0.0,0,1
23,WY,82081,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,1
24,WY,82082,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,1
25,WY,82083,ROCK RIVER,0.04,0.06,0.02,0.0,0,3
26,WY,82084,ALBANY COUNTY,0.04,0.06,0.02,0.0,0,1
27,WY,82190,TETON COUNTY,0.04,0.06,0.02,0.0,0,3
28,WY,82201,WHEATLAND,0.04,0.06,0.02,0.0,0,3
29,WY,82210,CHUGWATER,0.04,0.06,0.02,0.0,0,2
...,...,...,...,...,...,...,...,...,...
163,WY,82942,ROCK SPRINGS,0.04,0.05,0.01,0.0,0,2
164,WY,82943,SWEETWATER COUNTY,0.04,0.05,0.01,0.0,0,1
165,WY,82944,UINTA COUNTY,0.04,0.05,0.01,0.0,0,1
166,WY,82945,SUPERIOR,0.04,0.05,0.01,0.0,0,1
167,WY,83001,JACKSON,0.04,0.06,0.02,0.0,0,3
168,WY,83002,JACKSON,0.04,0.06,0.02,0.0,0,2
169,WY,83011,TETON COUNTY,0.04,0.06,0.02,0.0,0,1
170,WY,83012,TETON COUNTY,0.04,0.06,0.02,0.0,0,2
171,WY,83013,TETON COUNTY,0.04,0.06,0.02,0.0,0,2
172,WY,83014,TETON COUNTY,0.04,0.06,0.02,0.0,0,1
173,WY,83025,JACKSON,0.04,0.06,0.02,0.0,0,1
174,WY,83101,KEMMERER,0.04,0.05,0.01,0.0,0,3
175,WY,83110,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,2
176,WY,83111,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
177,WY,83112,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,2
178,WY,83113,SUBLETTE COUNTY,0.04,0.04,0.00,0.0,0,1
179,WY,83114,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,2
180,WY,83115,SUBLETTE COUNTY,0.04,0.04,0.00,0.0,0,1
181,WY,83116,DIAMONDVILLE,0.04,0.05,0.01,0.0,0,1
182,WY,83118,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
183,WY,83119,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
184,WY,83120,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
185,WY,83121,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
186,WY,83122,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
187,WY,83123,LA BARGE,0.04,0.05,0.01,0.0,0,2
188,WY,83124,OPAL,0.04,0.05,0.01,0.0,0,1
189,WY,83126,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
190,WY,83127,STAR VALLEY RANCH,0.04,0.05,0.01,0.0,0,2
191,WY,83128,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
192,WY,83414,ALTA,0.04,0.06,0.02,0.0,0,1