In [8]:
#importing  os library to get all the names of file to be concatenated to form a single file
import os

import pandas as pd

In [2]:
# To list files in directory, we are using  os.listdir() function

os.listdir()

['.ipynb_checkpoints',
 'ReSketch.ipynb',
 'TaxRates-UpdatedRateTablesExplained.pdf',
 'TAXRATES_ZIP5_AK201903.csv',
 'TAXRATES_ZIP5_AL201903.csv',
 'TAXRATES_ZIP5_AR201903.csv',
 'TAXRATES_ZIP5_AZ201903.csv',
 'TAXRATES_ZIP5_CA201903.csv',
 'TAXRATES_ZIP5_CO201903.csv',
 'TAXRATES_ZIP5_CT201903.csv',
 'TAXRATES_ZIP5_DC201903.csv',
 'TAXRATES_ZIP5_DE201903.csv',
 'TAXRATES_ZIP5_FL201903.csv',
 'TAXRATES_ZIP5_GA201903.csv',
 'TAXRATES_ZIP5_HI201903.csv',
 'TAXRATES_ZIP5_IA201903.csv',
 'TAXRATES_ZIP5_ID201903.csv',
 'TAXRATES_ZIP5_IL201903.csv',
 'TAXRATES_ZIP5_IN201903.csv',
 'TAXRATES_ZIP5_KS201903.csv',
 'TAXRATES_ZIP5_KY201903.csv',
 'TAXRATES_ZIP5_LA201903.csv',
 'TAXRATES_ZIP5_MA201903.csv',
 'TAXRATES_ZIP5_MD201903.csv',
 'TAXRATES_ZIP5_ME201903.csv',
 'TAXRATES_ZIP5_MI201903.csv',
 'TAXRATES_ZIP5_MN201903.csv',
 'TAXRATES_ZIP5_MO201903.csv',
 'TAXRATES_ZIP5_MS201903.csv',
 'TAXRATES_ZIP5_MT201903.csv',
 'TAXRATES_ZIP5_NC201903.csv',
 'TAXRATES_ZIP5_ND201903.csv',
 'TAXRATES_ZIP5_NE201903.csv',
 'TAXRATES_ZIP5_NH201903.csv',
 'TAXRATES_ZIP5_NJ201903.csv',
 'TAXRATES_ZIP5_NM201903.csv',
 'TAXRATES_ZIP5_NV201903.csv',
 'TAXRATES_ZIP5_NY201903.csv',
 'TAXRATES_ZIP5_OH201903.csv',
 'TAXRATES_ZIP5_OK201903.csv',
 'TAXRATES_ZIP5_OR201903.csv',
 'TAXRATES_ZIP5_PA201903.csv',
 'TAXRATES_ZIP5_PR201903.csv',
 'TAXRATES_ZIP5_RI201903.csv',
 'TAXRATES_ZIP5_SC201903.csv',
 'TAXRATES_ZIP5_SD201903.csv',
 'TAXRATES_ZIP5_TN201903.csv',
 'TAXRATES_ZIP5_TX201903.csv',
 'TAXRATES_ZIP5_UT201903.csv',
 'TAXRATES_ZIP5_VA201903.csv',
 'TAXRATES_ZIP5_VT201903.csv',
 'TAXRATES_ZIP5_WA201903.csv',
 'TAXRATES_ZIP5_WI201903.csv',
 'TAXRATES_ZIP5_WV201903.csv',
 'TAXRATES_ZIP5_WY201903.csv']

In [3]:
# copying  list of names of file in a list file_n

file_n=['TAXRATES_ZIP5_AK201903.csv',
 'TAXRATES_ZIP5_AL201903.csv',
 'TAXRATES_ZIP5_AR201903.csv',
 'TAXRATES_ZIP5_AZ201903.csv',
 'TAXRATES_ZIP5_CA201903.csv',
 'TAXRATES_ZIP5_CO201903.csv',
 'TAXRATES_ZIP5_CT201903.csv',
 'TAXRATES_ZIP5_DC201903.csv',
 'TAXRATES_ZIP5_DE201903.csv',
 'TAXRATES_ZIP5_FL201903.csv',
 'TAXRATES_ZIP5_GA201903.csv',
 'TAXRATES_ZIP5_HI201903.csv',
 'TAXRATES_ZIP5_IA201903.csv',
 'TAXRATES_ZIP5_ID201903.csv',
 'TAXRATES_ZIP5_IL201903.csv',
 'TAXRATES_ZIP5_IN201903.csv',
 'TAXRATES_ZIP5_KS201903.csv',
 'TAXRATES_ZIP5_KY201903.csv',
 'TAXRATES_ZIP5_LA201903.csv',
 'TAXRATES_ZIP5_MA201903.csv',
 'TAXRATES_ZIP5_MD201903.csv',
 'TAXRATES_ZIP5_ME201903.csv',
 'TAXRATES_ZIP5_MI201903.csv',
 'TAXRATES_ZIP5_MN201903.csv',
 'TAXRATES_ZIP5_MO201903.csv',
 'TAXRATES_ZIP5_MS201903.csv',
 'TAXRATES_ZIP5_MT201903.csv',
 'TAXRATES_ZIP5_NC201903.csv',
 'TAXRATES_ZIP5_ND201903.csv',
 'TAXRATES_ZIP5_NE201903.csv',
 'TAXRATES_ZIP5_NH201903.csv',
 'TAXRATES_ZIP5_NJ201903.csv',
 'TAXRATES_ZIP5_NM201903.csv',
 'TAXRATES_ZIP5_NV201903.csv',
 'TAXRATES_ZIP5_NY201903.csv',
 'TAXRATES_ZIP5_OH201903.csv',
 'TAXRATES_ZIP5_OK201903.csv',
 'TAXRATES_ZIP5_OR201903.csv',
 'TAXRATES_ZIP5_PA201903.csv',
 'TAXRATES_ZIP5_PR201903.csv',
 'TAXRATES_ZIP5_RI201903.csv',
 'TAXRATES_ZIP5_SC201903.csv',
 'TAXRATES_ZIP5_SD201903.csv',
 'TAXRATES_ZIP5_TN201903.csv',
 'TAXRATES_ZIP5_TX201903.csv',
 'TAXRATES_ZIP5_UT201903.csv',
 'TAXRATES_ZIP5_VA201903.csv',
 'TAXRATES_ZIP5_VT201903.csv',
 'TAXRATES_ZIP5_WA201903.csv',
 'TAXRATES_ZIP5_WI201903.csv',
 'TAXRATES_ZIP5_WV201903.csv',
 'TAXRATES_ZIP5_WY201903.csv']

In [4]:
len(file_n)

52

In [5]:
# generate a list of varalbe for 52 data frame numbered
l2=[]
def df_gen(s=1,n=53):
#     globals()l2=[]
    for i in range(s,n):
        k="df"+str(i)
        l2.append(k)
    
df_gen()
print(l2)

type(l2[3])

['df1', 'df2', 'df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 'df11', 'df12', 'df13', 'df14', 'df15', 'df16', 'df17', 'df18', 'df19', 'df20', 'df21', 'df22', 'df23', 'df24', 'df25', 'df26', 'df27', 'df28', 'df29', 'df30', 'df31', 'df32', 'df33', 'df34', 'df35', 'df36', 'df37', 'df38', 'df39', 'df40', 'df41', 'df42', 'df43', 'df44', 'df45', 'df46', 'df47', 'df48', 'df49', 'df50', 'df51', 'df52']

str

In [ ]:
# funtion for  generating global enumerated variable from list(l2 containing varaible names for df ) and 
# assign the the elements of l2 to the generated varable

def gen_enum():
    for n, val in enumerate(l2,start=1):
        globals()["df%d"%n] = val
        print(["df%d"%n])
        
gen_enum()

In [ ]:
type(df1)

In [32]:
# looping over all files one by one to read them in pandas data-frame


for i in range(0,len(l2)):
    filename=file_n[i]
    file_obj="f_obj"+str(i)
    with open(filename,"r") as file_obj:
        l2[i]=pd.read_csv(file_obj) # load the read file to coresponding data frame

In [35]:
# skip this : its just for testing my code
l2[51]

,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,WY,82001,CHEYENNE,0.04,0.06,0.02,0.0,0,1
1,WY,82002,CHEYENNE,0.04,0.06,0.02,0.0,0,1
2,WY,82003,CHEYENNE,0.04,0.06,0.02,0.0,0,1
3,WY,82005,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,1
4,WY,82006,CHEYENNE,0.04,0.06,0.02,0.0,0,1
5,WY,82007,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,1
6,WY,82009,CHEYENNE,0.04,0.06,0.02,0.0,0,3
7,WY,82010,CHEYENNE,0.04,0.06,0.02,0.0,0,1
8,WY,82050,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,1
9,WY,82051,ALBANY COUNTY,0.04,0.06,0.02,0.0,0,3
10,WY,82052,ALBANY COUNTY,0.04,0.06,0.02,0.0,0,1
11,WY,82053,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,2
12,WY,82054,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,1
13,WY,82055,ALBANY COUNTY,0.04,0.06,0.02,0.0,0,1
14,WY,82058,ALBANY COUNTY,0.04,0.06,0.02,0.0,0,2
15,WY,82059,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,3
16,WY,82060,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,1
17,WY,82061,CHEYENNE,0.04,0.06,0.02,0.0,0,1
18,WY,82063,ALBANY COUNTY,0.04,0.06,0.02,0.0,0,3
19,WY,82070,LARAMIE,0.04,0.06,0.02,0.0,0,4
20,WY,82071,LARAMIE,0.04,0.06,0.02,0.0,0,1
21,WY,82072,LARAMIE,0.04,0.06,0.02,0.0,0,5
22,WY,82073,LARAMIE,0.04,0.06,0.02,0.0,0,1
23,WY,82081,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,1
24,WY,82082,LARAMIE COUNTY,0.04,0.06,0.02,0.0,0,1
25,WY,82083,ROCK RIVER,0.04,0.06,0.02,0.0,0,3
26,WY,82084,ALBANY COUNTY,0.04,0.06,0.02,0.0,0,1
27,WY,82190,TETON COUNTY,0.04,0.06,0.02,0.0,0,3
28,WY,82201,WHEATLAND,0.04,0.06,0.02,0.0,0,3
29,WY,82210,CHUGWATER,0.04,0.06,0.02,0.0,0,2
...,...,...,...,...,...,...,...,...,...
163,WY,82942,ROCK SPRINGS,0.04,0.05,0.01,0.0,0,2
164,WY,82943,SWEETWATER COUNTY,0.04,0.05,0.01,0.0,0,1
165,WY,82944,UINTA COUNTY,0.04,0.05,0.01,0.0,0,1
166,WY,82945,SUPERIOR,0.04,0.05,0.01,0.0,0,1
167,WY,83001,JACKSON,0.04,0.06,0.02,0.0,0,3
168,WY,83002,JACKSON,0.04,0.06,0.02,0.0,0,2
169,WY,83011,TETON COUNTY,0.04,0.06,0.02,0.0,0,1
170,WY,83012,TETON COUNTY,0.04,0.06,0.02,0.0,0,2
171,WY,83013,TETON COUNTY,0.04,0.06,0.02,0.0,0,2
172,WY,83014,TETON COUNTY,0.04,0.06,0.02,0.0,0,1
173,WY,83025,JACKSON,0.04,0.06,0.02,0.0,0,1
174,WY,83101,KEMMERER,0.04,0.05,0.01,0.0,0,3
175,WY,83110,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,2
176,WY,83111,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
177,WY,83112,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,2
178,WY,83113,SUBLETTE COUNTY,0.04,0.04,0.00,0.0,0,1
179,WY,83114,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,2
180,WY,83115,SUBLETTE COUNTY,0.04,0.04,0.00,0.0,0,1
181,WY,83116,DIAMONDVILLE,0.04,0.05,0.01,0.0,0,1
182,WY,83118,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
183,WY,83119,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
184,WY,83120,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
185,WY,83121,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
186,WY,83122,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
187,WY,83123,LA BARGE,0.04,0.05,0.01,0.0,0,2
188,WY,83124,OPAL,0.04,0.05,0.01,0.0,0,1
189,WY,83126,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
190,WY,83127,STAR VALLEY RANCH,0.04,0.05,0.01,0.0,0,2
191,WY,83128,LINCOLN COUNTY,0.04,0.05,0.01,0.0,0,1
192,WY,83414,ALTA,0.04,0.06,0.02,0.0,0,1

In [45]:
# concatenating or merging all dataframes

File_all=pd.concat([l2[0],l2[1],l2[2],l2[3],l2[4],l2[5],l2[6],l2[7],l2[8],l2[9],l2[10],l2[11],l2[12],l2[13],l2[14],l2[15],l2[16],l2[17],l2[18],l2[19],l2[20],l2[21],l2[22],l2[23],l2[24],l2[25],l2[26],l2[27],l2[28],l2[29],l2[30],l2[31],l2[32],l2[33],l2[34],l2[35],l2[36],l2[37],l2[38],l2[39],l2[40],l2[41],l2[42],l2[43],l2[44],l2[45],l2[46],l2[47],l2[48],l2[49],l2[50],l2[51]])

In [49]:
# saving Pandas dataframe to a csv file

File_all.to_csv('complete_Data.csv')