In [4]:
def adder(x,y,z=None):
    if z==None:
        return x+y
    else :
        return x+y+z
print(adder(4,5,5))

14

In [5]:
a=adder

In [6]:
a(4,5)

9

In [7]:
t=(1,'v',3,'j',8)

In [8]:
type(t)

tuple

In [9]:
t.append('h')

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
t.insert('h')

AttributeError: 'tuple' object has no attribute 'insert'

In [12]:
for i in t:
    print(i)

1
v
3
j
8

In [13]:
#list

l=[1,'l',3,'b',4]

In [14]:
l.append(4.4)

In [15]:
for i in l:
    print(i)

1
l
3
b
4
4.4

In [17]:
l=[3,9]+['a',5]
l

[3, 9, 'a', 5]

In [18]:
type(l)

list

In [19]:
l=[3,9]+['a',5]*4

In [20]:
l

[3, 9, 'a', 5, 'a', 5, 'a', 5, 'a', 5]

In [25]:
3 in [3, 9, 'a', 5, 'a', 5, 'a', 5, 'a', 5]

True

In [29]:
l[-8:-3]

['a', 5, 'a', 5, 'a']

In [27]:
l

[3, 9, 'a', 5, 'a', 5, 'a', 5, 'a', 5]

In [42]:
fname="Waseem"
lname="Ahmed"
# k=fname+" "+lname +" "+ "is a nice person"
print(fname+" "+lname +" "+ "is a nice person boy".split(' ')[-1])

Waseem Ahmed boy

In [43]:
print(k)

Waseem Ahmed is a nice person

In [44]:
k.split(' ')

['Waseem', 'Ahmed', 'is', 'a', 'nice', 'person']

In [48]:
k=fname+" "+lname +" "+ "is a nice person boy"

In [58]:
g=k.split(' ')

In [59]:
g

['Waseem', 'Ahmed', 'is', 'a', 'nice', 'person', 'boy']

In [60]:
#dictionary

In [61]:
d={'taxi':'careem','cycle':'sohrab','party':'pti'}

In [64]:
d.keys()

dict_keys(['taxi', 'cycle', 'party'])

In [66]:
d.values()

dict_values(['careem', 'sohrab', 'pti'])

In [67]:
d.items()

dict_items([('taxi', 'careem'), ('cycle', 'sohrab'), ('party', 'pti')])

In [68]:
len(d)

3

In [79]:
for name in d:
    print(d[name])

careem
sohrab
pti

In [81]:
d['taxi']

'careem'

In [86]:
for name in d.values():
    print(name)

careem
sohrab
pti

In [92]:
x:x1,y:y1,z:z1=d

SyntaxError: invalid syntax (<ipython-input-92-39205c8d1372>, line 1)

In [93]:
x,y,z=d

In [98]:
y

'cycle'

## String formating

In [99]:
print("Waseem rides {} bycycle otherwise uses {} taxi and support {} party" .format(d['cycle'],d['taxi'],d['party']))

Waseem rides sohrab bycycle otherwise uses careem taxi and support pti party

##  reading a csv file

In [18]:
# importing the library for reading csv files
import csv

In [30]:
# using filing to open the mpg data file using csv reader function

# csv reader function converts the column value and row entry in to a dictionary

with open("C:\\Users\\Ahmed\\Documents\\COursera\\course_2Intro to Data Science in Python\\week_B\\mpg.csv") as file_obj:
    mpg=list(csv.DictReader(file_obj))

In [23]:
# viewing the  list of dictionary from 4th entry to 8th entry
mpg[:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [24]:
len(mpg)

234

In [25]:
type(mpg)

list

In [26]:
mpg[0]

OrderedDict([('', '1'),
             ('manufacturer', 'audi'),
             ('model', 'a4'),
             ('displ', '1.8'),
             ('year', '1999'),
             ('cyl', '4'),
             ('trans', 'auto(l5)'),
             ('drv', 'f'),
             ('cty', '18'),
             ('hwy', '29'),
             ('fl', 'p'),
             ('class', 'compact')])

## To view the coloumn name of CSV file
 
 we  pick 1st element of mpg list and use the key method to see the keys

In [31]:

mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

# To get the average city mpg (List comprehension)

We sum all the mpg and then divide by total len of list

In [112]:
# Average in single line using list comprehension
sum(float(d['cty']) for d in mpg)/len(mpg)

16.858974358974358

In [54]:
# Explaination
# sum of city average of all cars

sum(float(d['cty']) for d in mpg)

3945.0

In [55]:
k=[]
for d in mpg:
    print(d['cty'],"\n")
    k.append(float(d['cty']))

18

21

20

21

16

18

18

18

16

20

19

15

17

17

15

15

17

16

14

11

14

13

12

16

15

16

15

15

14

11

11

14

19

22

18

18

17

18

17

16

16

17

17

11

15

15

16

16

15

14

13

14

14

14

9

11

11

13

13

9

13

11

13

11

12

9

13

13

12

9

11

11

13

11

11

11

12

14

15

14

13

13

13

14

14

13

13

13

11

13

18

18

17

16

15

15

15

15

14

28

24

25

23

24

26

25

24

21

18

18

21

21

18

18

19

19

19

20

20

17

16

17

17

15

15

14

9

14

13

11

11

12

12

11

11

11

12

14

13

13

13

21

19

23

23

19

19

18

19

19

14

15

14

12

18

16

17

18

16

18

18

20

19

20

18

21

19

19

19

20

20

19

20

15

16

15

15

16

14

21

21

21

21

18

18

19

21

21

21

22

18

18

18

24

24

26

28

26

11

13

15

16

17

15

15

15

16

21

19

21

22

17

33

21

19

22

21

21

21

16

17

35

29

21

19

20

20

21

18

19

21

16

18

17

In [56]:
sum(k)

3945.0

## To get the average Highway mpg

We sum all the mpg and then divide by total len of list

In [59]:
sum(float(d['hwy']) for d in mpg)/len(mpg)

23.44017094017094

### To get the number of cylinder cars have in our dataset

In [66]:
cylinder=set(d['cyl'] for d in mpg)
cylinder

{'4', '5', '6', '8'}

### To find theaverage fuel economy by number of cylinder

In [69]:
ctyMPGbyCYL=[]
for c in cylinder:
    sumMpg=0
    cyltypecount=0
    for d in mpg:
        if d['cyl']==c:
            sumMpg+=float(d['cty'])
            cyltypecount +=1
    ctyMPGbyCYL.append([c,sumMpg/cyltypecount])   
    
ctyMPGbyCYL

[['8', 12.571428571428571],
 ['4', 21.012345679012345],
 ['6', 16.21518987341772],
 ['5', 20.5]]

### To get the number of vehical class in our dataset

In [76]:
Vehicalclass=set(d['class'] for d in mpg)
Vehicalclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [78]:
ctyMPGbyVclass=[]
for v in Vehicalclass:
    sumMpg=0
    vtypecount=0
    for d in mpg:
        if d['class']==v:
            sumMpg+=float(d['cty'])
            vtypecount +=1
    ctyMPGbyVclass.append([v,sumMpg/vtypecount])

ctyMPGbyVclass

[['subcompact', 20.37142857142857],
 ['compact', 20.127659574468087],
 ['minivan', 15.818181818181818],
 ['pickup', 13.0],
 ['2seater', 15.4],
 ['midsize', 18.75609756097561],
 ['suv', 13.5]]

## 05 Date and Time

In [79]:
import datetime as dt
import time as tm

In [80]:
tm.time()

1554707775.5933154

In [81]:
dtnow=dt.datetime.fromtimestamp(tm.time())

In [82]:
dtnow

datetime.datetime(2019, 4, 8, 12, 17, 8, 99319)

In [83]:
type(dtnow)

datetime.datetime

In [88]:
dtnow.year,dtnow.month,dtnow.day,dtnow.hour,dtnow.minute,dtnow.second

(2019, 4, 8, 12, 17, 8)

In [95]:
delta=dt.timedelta(days=100)
delta

datetime.timedelta(100)

In [90]:
dtafter=dtnow+delta

In [91]:
dtafter

datetime.datetime(2019, 7, 17, 12, 17, 8, 99319)

In [92]:
today=dt.date.today()

In [93]:
today

datetime.date(2019, 4, 8)

In [96]:
today-delta

datetime.date(2018, 12, 29)

##  06 Objects and  Map

In [107]:
store1=[12.45,4.5,7,9,21.2]
store2=[12.35,4.2,7,4,23.2]
cheapest=map(min,store1,store2)

In [108]:
cheapest

In [109]:
for item in cheapest:
    print(item)

12.35
4.2
7
4
21.2

## 07 Lambda Function

In [110]:
my_function=lambda a,b,c:a+b+c

In [111]:
my_function(1,2,3)

6

In [119]:
my_list=[x for x in range(1,101) if(x%2==0)]

In [120]:
my_list

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

NameError: name 'np' is not defined

NameError: name 'np' is not defined